.omg-form {
  & .omg-error {
    display: none;
  }

  & label.show {
    & .omg-error {
      display: inline-block;
    }
  }
}

.omg-form-wrapper {
  & .omg-success {
    display: none;
  }

  & form.show {
    display: none;
  }

  & .omg-success.show {
    display: block;
  }

}
